/* .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
     */
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .container-fluid
    {
        padding-left: 30%;
        
    }
    
.gradient-custom {
background: #c5a4eb;
     
background: -webkit-linear-gradient(to right, rgb(59, 59, 71), rgb(85, 130, 207));

background: linear-gradient(to right, rgb(173, 112, 235), rgb(20, 20, 20))  
 }

 .myform{
    border:1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgb(242, 244, 247);
    box-shadow:  5px 5px 10px;
}
.mybtn btn
{
    background-color: linear-gradient(to right, rgb(173, 112, 235), rgb(20, 20, 20))  ; 

}
.error
{
    color: red;
}

 /* background: linear-gradient(to right, rgb(173, 164, 182), rgb(20, 20, 20))   */